body{
	margin-top: 0;
 	font-family: sans-serif;
 	background-color: #333333;
}

.title{
	font-size: 4vw;
	text-align: center;
	color: #f07c17;
	margin-top: 2vw;
}

.formm{
	margin-top: 2vw;
	background-color: white;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 50px;
	padding-top: 10px;
	padding-right: 10px;
}

.final{
	text-align: left;

}

.final input{
	background-color: white;

	color: blue;
	border-color: blue;
}

.cancel{
	text-align: center;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.cancel a{
	text-decoration: none;
	color: red;

}